---
import ReviewsCards from "./reviews-cards";
---

<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Клиенты говорят о нас</h2>
    <ReviewsCards client:visible />
  </div>
</section>