---
import AboutPreview from "./AboutPreview";
---

<section class="main-about">
  <div class="main-about__inner rel flex">
    <div class="container">
      <div class="main-about__box">
        <h3 class="main-about__title">О нас</h3>
        <div class="main-about__text">
          <p>Компания ЕвроКран – это команда специалистов, обеспечивающих эффективное использование высокопроизводительных немецких автокранов марки LIEBHERR.</p>
          <p>Мы работаем с 2000 года и за это время не раз доказали свой профессионализм и компетентность: сегодня нам доверяют крупнейшие предприятия России.</p>
          <p>
            Мы обладаем собственным парком с более чем 50 единицами техники и находимся в черте Москвы. Поэтому мы можем подать любую технику в любую точку города незамедлительно, что бывает весьма кстати в случае возникновения каких-либо
            непредвиденных ситуаций.
          </p>
        </div>
      </div>
    </div>
    <div class="main-about__video">
      <AboutPreview />
    </div>
  </div>
</section>
