---
import PopupButton from "./PopupButton"
---
<section class="guarantee rel">
  <div class="container">
    <div class="guarantee__inner">
      <h2 class="guarantee__title">С нами надежно</h2>
      <div class="guarantee__body flex">
        <div class="guarantee__info">
          <p class="guarantee__text">Компания Еврокран успешно работает на территории РФ с 2000 года.</p>
          <p class="guarantee__text">В нашем автопарке гусеничные и мобильные краны известного немецкого бренда.</p>
          <p class="guarantee__text">Среди них есть модели любой грузоподъемности, для погрузочных, монтажных, транспортировочных и других работ.</p>
          <p class="guarantee__text">Обращение в компанию гарантирует комплексный подход к решению поставленных задач. Получить больше информации можно у менеджеров Компании Еврокран.</p>
          <PopupButton />
          </div>
        <div class="guarantee__items">
          <div class="guarantee__item flex aic">
            <div class="guarantee__item-img">
              <img 
                class="guarantee__item-img" 
                src="/static/images/guarantee-1.svg" 
                alt="guarantee" 
                width="100%" 
                height="100%" 
              />
            </div>
            <p class="guarantee__item-title">Поставка техники точно в срок</p>
          </div>
          <div class="guarantee__item flex aic">
            <div class="guarantee__item-img">
              <img 
                class="guarantee__item-img" 
                src="/static/images/guarantee-2.svg" 
                alt="guarantee" 
                width="100%" 
                height="100%" 
              />
            </div>
            <p class="guarantee__item-title">Сопровождение спецтехники</p>
          </div>
          <div class="guarantee__item flex aic">
            <div class="guarantee__item-img">
              <img 
                class="guarantee__item-img" 
                src="/static/images/guarantee-3.svg" 
                alt="guarantee" 
                width="100%" 
                height="100%" 
              />
            </div>
            <p class="guarantee__item-title">Квалифицированнные специалисты</p>
          </div>
          <div class="guarantee__item flex aic">
            <div class="guarantee__item-img">
              <img 
                class="guarantee__item-img" 
                src="/static/images/guarantee-4.svg" 
                alt="guarantee" 
                width="100%" 
                height="100%" 
              />
            </div>
            <p class="guarantee__item-title">Автопарк от ведущих мировых производителей</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
